<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Dong Dict - Word Detail</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body class="bg-gray-100 p-6">
    <div class="max-w-md mx-auto">
        <h1 class="text-2xl font-bold mb-4">Word Definition</h1>

        <% if (definition) { %>            
            <p><strong>Word:</strong> <%= definition.key %></p>
            <p><strong>Description:</strong> <br /> <%- definition.description %></p>%></p>
        <% } else { %>
            <p>Word not found. Please try another.</p>
        <% } %>

        <div class="flex justify-between mt-4">
            <div>
                <button onclick="window.history.back();" class="mt-2 inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">Go Back</button>
        
                <a href="/" class="mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">Back to Search</a>
            </div>
            
            <% if (definition.auth === 'true') { %>
                <a href="/edit?word=<%= definition.key %>" class="mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">Edit</a>   
            <% } %>
        </div>
    </div>
</body>
</html>